
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}


#conteudo {
    width: 100vw;
    height: 100vh;
    position: fixed;
    color: white;
    background-image:  
        url('img/ads.png'),  
        url('img/fundo.png');  
    background-color: black;
    background-size: 
        100% 100%, 
        cover;
    background-position: 
        center center, 
        center center; 
    background-repeat: 
        no-repeat, 
        no-repeat;
    left: 0;
    top: 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#topo {
    width: 100%;
    position: absolute;
    top: 5vh;  
    display: flex;
    flex-direction: column;
    align-items: center;
}


h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
}


.btn {
    background: black;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    width: 120px;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
}

.btn:hover {
    background: red;
}
